@{
    ViewBag.Title = "套餐列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="package"></table>
<div id="package_toolbar" style="padding:8px;">
    <a class="easyui-linkbutton" data-mark="add" data-url="@Url.Action("Add")" data-options="iconCls:'icon-add',plain:true">添加套餐</a>
    <a class="easyui-linkbutton" data-mark="edit" data-url="@Url.Action("Edit")" data-options="iconCls:'icon-edit',plain:true">编辑套餐</a>
    <a class="easyui-linkbutton" data-mark="cancel" data-url="@Url.Action("Cancel")" data-options="iconCls:'icon-clear',plain:true">删除套餐</a>
</div>
<script type="text/javascript">
    $(function () {
        var grid = $('#package');
        var toolbar = '#package_toolbar';

        //所有按钮事件的绑定
        $(toolbar).on("click", 'a', function () {
            eui.dialogArgs.title = $(this).text();
            eui.dialogArgs.url = $(this).attr("data-url");
            eui.dialogArgs.width = 500;
            eui.dialogArgs.height =320;
            switch ($(this).attr("data-mark")) {
                case 'add':
                    eui.dialogArgs.callback = operate;
                    eui.dialog(eui.dialogArgs);
                    break;
                case 'edit':
                    var selected = grid.treegrid('getSelections');
                    if (selected.length == 1) {
                        eui.dialogArgs.url += "?ID=" + selected[0].ID;
                        eui.dialogArgs.callback = operate;
                        eui.dialog(eui.dialogArgs);
                    }
                    else
                        eui.warning("请选择一条数据操作");
                    break;
                case 'cancel':
                    cancel();
                    break;
            }
        });

        //新增编辑操作
        function operate() {
            if ($(eui.form).form("validate")) {
                eui.button.disable();//禁用按钮
                eui.commitArgs.url = eui.dialogArgs.url;
                eui.commitArgs.data = $(eui.form).serialize();
                eui.commitArgs.success = function (r) {
                    eui.success("操作成功");
                    grid.datagrid('reload');
                }
                eui.commit(eui.commitArgs);
            }
        }

        //删除操作
        function cancel() {
            var selected = grid.datagrid('getSelections');
            debugger
            if (selected.length > 0) {
                eui.confirm("确认要删除所选择的数据", function () {
                    var Ids = [];
                    $(selected).each(function () { Ids.push("'"+this.ID+"'") });
                    eui.commitArgs.url = eui.dialogArgs.url;
                    eui.commitArgs.data = { Ids: Ids.join() };
                    eui.commitArgs.success = function (r) {
                        grid.datagrid('reload');
                        grid.datagrid("clearSelections");
                        eui.success("删除成功");
                    }
                    eui.commit(eui.commitArgs);
                });
            }
            else
                eui.alert("请选择一条数据操作");
        }

        //列表数据的绑定
        grid.datagrid({
            fitColumns: false,
            url:'@Url.Action("Index")',
            toolbar: toolbar,
            sortOrder: 'asc',
            sortName: 'iSort',
            singleSelect: false,
            columns: [[
                { field: 'ID', title: ' ', align: 'center', checkbox: true },
                { field: 'sVipName', title: '套餐名称', align: 'center', width: 200, },
                {
                    field: 'dVipPrices', title: '套餐金额(元)', align: 'center', width: 100, formatter: function (value) {
                        return '<span style="color:green">' + value.toFixed(2) + '</span>';
                    }
                },
                {
                    field: 'dOldPrices', title: '套餐原价(元)', align: 'center', width: 100, formatter: function (value) {
                        return '<span style="color:blue">' + value.toFixed(2) + '</span>';
                    }
                },
                {
                    field: 'dSavePrices', title: '优惠金额(元)', align: 'center', width: 100, formatter: function (value) {
                        return '<span style="color:red">' + value.toFixed(2) + '</span>';
                    }
                },
                {
                    field: 'dBonusMoney', title: '返佣金额(元)', align: 'center', width: 100, formatter: function (value) {
                        return '<span style="color:#A23400">' + value.toFixed(2) + '</span>';
                    }
                },
                { field: 'sVipDays', title: '天数', align: 'center', width: 60 },
                { field: 'iSort', title: '排序', align: 'center', width: 60 }
            ]],
            onDblClickRow: function (index,row) {
                eui.dialogArgs.title = "编辑套餐"
                eui.dialogArgs.url = '@Url.Action("Edit")' + "?ID=" + row.ID;
                eui.dialogArgs.width = 500;
                eui.dialogArgs.height = 320;
                eui.dialogArgs.callback = operate;
                eui.dialog(eui.dialogArgs);
            }
        });
    });
</script>

